.footer_wrapper{
  width: 100%;
  position: relative;
  .clear{
    position: absolute;
    border: none;
    // border-radius: 5px;
    right: 10px;
    color: white;
    background-color: red;
    padding: 5px;
  }
}
